body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h1,
h2,
h3 {
    line-height: 1.35;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

nav {
    background: black;
}

nav ul {
    display: flex;
}

nav li {
    display: flex;
}

nav li a {
    color: white;
    padding: 10px 20px;
}


/* list countries */

ul.country-list {
    margin: 0;
    padding: 20px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

ul.country-list li {
    flex-basis: 0;
    padding: 7px 0;
    margin: 0 10px 10px 0;
    min-width: 18%;
    border-top: 1px solid #ddd;
}

ul.country-list li a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #eee;
    border: 1px solid #ddd;
    font-weight: bold;
    color: blue;
    border-radius: 5%;
}

ul.country-list li a.go {
    background-color: orange;
    color: #333;
    border: 1px solid orange;
}

ul.country-list li a.go.less {
    margin-left: 0.5em;
    background-color: orangered;
    color: white;
    border: 1px solid orangered;
}


/* list universities */

.add-uni {
    padding: 20px;
}

.uni-list-header {
    margin-top: 2em;
    margin-bottom: 3em;
}

.uni-list {
    list-style-type: none;
    margin: 0 0 3em 0;
}

.uni-list li {
    border-top: 1px solid #ddd;
    padding: 10px 2px;
}

.uni-list li a {
    color: #333;
}


/* crawl stats */

.crawl-stats {
    padding: 20px 0 100px 20px;
    overflow: hidden;
}

.crawl-stats h1 {
    margin-bottom: 30px;
}

.crawl-stats .site-check {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    clear: both;
}

.crawl-stats .site-check .counter {
    color: #777;
}

.crawl-stats .check-year {
    margin: 10px 10px 10px 0;
    float: left;
    padding: 7px;
    background: #eee;
    min-width: 100px;
    min-height: 70px;
}

.crawl-stats .check-year.bad {
    color: red;
}

.crawl-stats .good-meta {
    color: green;
}

.readout {
    clear: both;
    padding-top: 3em;
}

p.crawl-good {
    color: green;
    padding-top: 0.5em;
}

p.crawl-bad {
    color: red;
    font-weight: bold;
    padding-top: 0.5em;
}


/* graphing */

.graphs {
    padding: 30px;
}

.graph h1 {
    margin-bottom: 2em;
}

ul.graph {
    list-style-type: none;
    margin-top: 2em;
}

ul.graph span.number {
    display: inline-block;
    width: 50px;
}

ul.graph span.bars {
    width: 350px;
    display: inline-block;
    line-height: 20px;
    max-height: 20px;
}

ul.graph span.year {
    display: inline-block;
    width: 55px;
    text-align: left;
    line-height: 1;
    margin-top: -5px;
}

ul.graph span.bar {
    display: inline-block;
    min-height: 20px;
    padding: 0;
    font-weight: bold;
    background-color: #eee;
    line-height: 20px;
}

ul.graph span.year {
    display: inline-block;
}

ul.graph span.bar.reject {
    background-color: #ddd;
}

ul.graph span.bar.media {
    background-color: skyblue;
}

ul.graph span.bar.number {
    background-color: orange;
}

ul.graph span.bar.wdw {
    background-color: green;
}

ul.graph span.bar.badmax {
    background-color: red;
}

ul.graph span.bar.pinch {
    background-color: brown;
}

ul.graph li {
    padding: 0;
    margin-bottom: 1px;
}

ul.graph span.percentage {
    padding-left: 5px;
    display: inline-block;
    width: 35px;
    text-align: right;
}

ul.graph.no-width span.bars {
    width: auto;
}

ul.graph.no-width span.percentage {
    width: auto;
}

ul.graph li.space {
    min-height: 20px;
}

.a-graph {
    float: left;
    border-top: 1px solid #ddd;
    /* min-height: 580px; */
    min-width: 30%;
    margin-right: 3%;
    margin-bottom: 30px;
    padding: 10px 0;
}

.a-graph p {
    color: #777;
    padding: 20px 0 5px 0;
}

.overall-stats {
    clear: both;
    font-size: 2em;
    padding: 10px;
    margin: 20px;
}


/* checking results */

.geturl {
    padding: 20px;
}

.geturl label {
    display: block;
}

.geturl input[type="text"] {
    font-size: 2em;
    margin: 0.2em 0;
    padding: 5px;
}

.geturl input[type="submit"] {
    font-size: 2em;
    margin-left: 0.2em;
    background: none;
    border: none;
    color: blue;
    font-weight: bold;
}

.debug {
    padding: 20px;
}

.check-area {
    margin-top: 2em;
    color: red;
    font-weight: bold;
}

.debug pre {
    padding: 10px;
    background: #eee;
}

.debug ul.bulleted-list {
    list-style-type: square;
    margin-left: 1em;
}

.debug ul.bulleted-list a {
    color: #333;
}

.debug pre {
    max-height: 500px;
    overflow-y: scroll;
    max-width: 60%;
}

.debug table {
    margin: 0.5em 0 4em 0;
    border-collapse: collapse;
    max-width: 60%;
}

.debug td {
    border-top: 1px solid #ddd;
    padding: 5px;
    vertical-align: top;
    min-width: 33%;
    font-weight: bold;
}

.debug td+td {
    font-weight: normal;
}

.error {
    display: inline-block;
    padding: 0;
    color: red;
}


/* media table */

li.country-data {
    margin-left: 55px;
    margin-top: 20px;
    padding-bottom: 50px !important;
}

li.country-data table {
    font-size: 0.85em;
    border-collapse: collapse;
}

li.country-data th {
    text-transform: uppercase;
    padding: 3px 10px 3px 0;
}

li.country-data td+td {
    text-align: right;
    padding: 3px 10px;
}

li.country-data td {
    border-top: 1px solid #ddd;
}

span.less {
    color: #999;
}

.main-graph li.year-bar {
    border-top: 1px solid #ccc;
    margin-top: 5px;
    padding-top: 5px;
}

ul.graph.main-graph li span.bar.media {
    background-color: #000 !important;
}

ul.graph.main-graph li span.bar.number {
    background-color: #aaa !important;
}

ul.graph.main-graph li span.bar.wdw {
    background-color: #777 !important;
}

ul.graph.main-graph li span.bar.pinch {
    background-color: red !important;
}

ul.graph.main-graph li span.year {
    width: 180px;
}

span.year-range {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

span.r-o {
    width: 10%;
    display: inline-block;
    text-align: right;
}

span.r-o+.r-o {
    width: 45%;
}

.r-o code {
    font-size: 1em;
    color: #777;
}

.assume100 {
    background: #ddd;
}

.bar.bad {
    background: red !important;
}

.bar.numberw {
    background: lightblue !important;
}

.bar.numberdw {
    background: lightgreen !important;
}


/* by country */

.show-results {
    display: flex;
    flex-wrap: wrap;
}

.show-results .year {
    flex: 0 0 20%;
    padding: 1em;
    margin: 1em;
}

.show-results .year h2 {
    font-weight: bold;
}

.show-results .year h3 {
    font-weight: bold;
    padding: 0.2em 0 0.1em 0
}

.show-results .year ul+h3 {
    margin-top: 1em;
    color: #888;
    font-size: 0.8em;
}

.show-results .year ul.viewport-found {
    list-style-type: none;
    color: #333;
}

.show-results .year ul.viewport-found li {
    border-top: 1px solid #eee;
    padding: 4px 0;
}

.show-results .year ul.not-archived {
    color: #888;
    list-style-type: none;
    font-size: 0.8em;
}

.show-results .year ul.not-archived li {
    border-top: 1px solid #eee;
    padding: 4px 0;
}

.lock-menu nav {
    position: fixed;
    width: 100%;
}

.lock-menu .show-results {
    padding-top: 50px;
}

.select-country {
    padding: 20px;
}

.select-country h1 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 1em;
}

.select-country ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.select-country a {
    display: inline-block;
    padding: 10px 20px;
    background: #eee;
    border-radius: 0.2em;
    margin-bottom: 0.5em;
    color: #333;
}

.select-country a:hover {
    color: red;
}

.select-country a:visited {
    background: #777;
    color:white;
}