body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    color: #333;
    line-height: 1.35;
    padding: 2em;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h1,
h2,
h3 {
    line-height: 1.35;
    font-size: 1rem;
}

.graph h1 {
    margin-bottom: 2em;
}

ul.graph {
    list-style-type: none;
}

/* ul.graph span.number {
    display: inline-block;
    width: 50px;
} */

ul.graph span.bar {
    background: #333;
    display: inline-block;
    padding: 0;
    font-weight: bold;
    color: white;
}

ul.graph li {
    /* padding: 3px 0; */
}

ul.graph span.percent {
    /* padding-left: 5px; */
}

.a-graph {
    float: left;
    border-top: 1px solid #ddd;
    min-height: 490px;
    min-width: 30%;
    margin-right: 3%;
    margin-bottom: 30px;
    padding: 10px 0;
}

.a-graph p {
    color: #777;
    padding: 20px 0 5px 0;
}