@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700');
body {
    font-family: 'work sans';
    font-size: 1rem;
    color: #333;
    line-height: 1.35;
    padding: 2em;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h1,
h2,
h3 {
    line-height: 1.35;
    font-size: 1rem;
}

h1 {}

ul {
    list-style-type: square;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    text-decoration-skip-ink: auto;
    text-decoration-skip: ink;
    text-decoration-color: #93ACB5;
}

table {
    border-collapse: collapse;
}

table td {
    vertical-align: top;
    padding: 5px;
    border-top: 1px solid #ddd;
}

table th {
    font-weight: normal;
    color: #777;
    min-width: 50px;
    text-align: left;
}

td:empty {
    background: #eee;
}

body.graph {
    margin: 5em;
}

.graph h1 {
    margin-bottom: 2em;
}

ul.graph {
    list-style-type: none;
}

ul.graph span.number {
    display: inline-block;
    width: 50px;
    padding-left: 10px;
}

ul.graph span.bar {
    background: #333;
    display: inline-block;
    padding: 3px;
    font-weight: bold;
    color: white;
}

ul.graph li {
    padding: 3px 0;
}

ul.graph span.percent {
    padding-left: 5px;
}

.a-graph {
    float: left;
    padding: 20px;
    background: white;
    margin-right: 20px;
    margin-bottom: 20px;
    min-height: 490px;
    min-width: 45%;
}

.a-graph p {
    color: #777;
    padding: 20px 0 5px 10px;
}

body {
    background: #eee;
}

.found {
    color: red;
    text-align: center;
}

.inline-list {
    margin: 20px 0;
}

.inline-list a {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 0.2em;
    margin-right: 20px;
}