@import url('https://fonts.googleapis.com/css?family=Work+Sans');
body {
    font-family: 'work sans';
    font-size: 1rem;
    color: #333;
    margin: 40px auto;
    max-width: 600px;
    line-height: 1.35;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h1,
h2,
h3 {
    line-height: 1;
}

h1 {
    margin-bottom: 2rem;
}

ul {
    list-style-type: square;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    text-decoration-skip-ink: auto;
    text-decoration-skip: ink;
    text-decoration-color: #93ACB5;
}

.docrawl p {
    border-top: 1px solid #ddd;
    padding: 10px 0;
}

.docrawl pre {
    background: #eee;
    padding: 10px;
    font-size: 0.8em;
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}